
#Img2Excel {

  #Loading, #Sending {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px lightgray solid;
    border-radius: 0.5rem;
  }

  #Error {
    margin-top: 1rem;
  }

  #JimpImage {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px lightgray solid;
    border-radius: 0.5rem;
    #MyCanvas {
      display: block;
      margin: 1rem auto;
      border: 1px lightgray solid;
      border-radius: 0.5rem;
      max-width: 250px;
    }
  }

  #Converter {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  #Sending {
    #SendingLoader {
      justify-content: center;
    }
  }

}
